.signIn{
    background-color: black;
    
    min-height: 100vh;
   
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.signInForm{
    background-color: white;
    border: 1px solid #ECECEC;
box-shadow: 0px 0px 4px rgba(177, 177, 177, 0.5);
border-radius: 20px 0px;
width: 513px;
max-width: 70vw;
margin: 2em 0;
padding: 25px 40px;
}
.invalid{
    border-color: #FF413B !important;
}
.logo{
height: fit-content;
border-radius: 8.06906px 0px;
background-image: linear-gradient( #007B1E, #00D634);
display: flex;
align-items: center;
text-align: center;
display: inline-block;
padding: 0.6em ;
margin-bottom: 20px;
}
.logo p{
    font-style: normal;
font-weight: 700;
font-size: 36.3108px;
color: #000000;
margin: 0;
line-height: 40px;
background-color: white;
padding: 0 0.2em;

}

.logIn-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: black;
    line-height: 15px;}
.logIn-txt{
    letter-spacing: -0.01em;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #626262;
    letter-spacing: -0.02em;
}
input::placeholder{
    font-family: 'Ubuntu' ;
font-style: normal;
font-weight: 500 ;
font-size: 14px;
letter-spacing: -0.01em;
text-transform: uppercase;

color: #6C6C6C;

}
input:focus{
border: 2px solid #009925 !important;

}

.borderGreen{
    border: 2px solid #009925 !important;

}
.signIn input{
    font-weight: 500;
    font-size: 16px;

    border: 1px solid #ECECEC;
border-radius: 0 0 10px 0px ;
display: block;
outline: none;

padding: 1.5em;
width: 100%;
box-sizing: border-box;

}
.fileInp{
    font-weight: 500;
    font-size: 16px;

    border: 1px solid #ECECEC;
border-radius: 0 0 0 0px ;
display: block;
outline: none;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em;
width: 100%;
box-sizing: border-box;
  
}
.fileInp span{
display: none;
}
.done{
    border: 1px solid #009925 !important;
}
.done svg{
    cursor: default !important;
    color: #048848 !important;
}
.done p{
 
    color: #010101 !important;
     
}
.done .upload{
    display: none;
}
.prev{
    display: none;
}


.done .prev{
    text-decoration-line: underline;
text-transform: uppercase;
display: block;
cursor: pointer;
color: #009925 !important;
}
.done span{
display: inline;
position: relative;
top: 3px;

margin-left: 0.3em;
}
.fileInp p{

}
.file4{
    border-radius: 0px 0  10px 0 ;
}
.file1{margin-top: 1.5em;
    border-radius: 10px 0 0 0px ;

}
.fileInp svg{
    color: #979797;
    cursor: pointer;
}
.fileInp p{
    margin-top: 0;
    font-weight: 500;
font-size: 14px;
line-height: 33px;
/* identical to box height, or 232% */

letter-spacing: -0.01em;
text-transform: uppercase;

color: #808080;
}
.signIn .inp1{
    border-radius: 10px 0 0 0px ;
    margin-top: 1.5em;

}
.signIn .inp2{
    border-radius:  0px ;

}
.signIn-action{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 4em;
}
.signIn-action p{
    font-weight: 400;
    font-size: 14px;

    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
    
    color: #444444;
}
.signIn-action span{
color: #009925;
font-weight: 700;
white-space: nowrap;
cursor: pointer;
border-bottom: 2px solid #009925;}
.btnLink{
    margin-left: 2em;
}
.signIn input[type=password] {
font-size: 19px;
  padding: 1.185em;
}
.signIn input[type=file] {
   width: 0;
   height: 0;
   padding: 0;
   opacity: 0;
   pointer-events: none;
    }
  
.imgModal, .modalOverlay {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 11;
}
.modalOverlay img{
  max-width: 90vw;
  max-height: 90vh;
}
.modalOverlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 1em;
    border-radius: 20px;
  
    z-index: 12;

   display: unset;
width: 500px;
height: 571px;
}
.vCenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.modal-content img{
width: 100%;
    max-width: 300px;
    height: 300px;
}
.signIn-action button{

    font-weight: 700;
    font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
    padding: 15px 70px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #009925 -0.1%, #00741C 112.77%);
    border-radius: 8px;
    border: none;
}
.formTop{
    display: flex;
    justify-content: space-between;
}

.errBanner{
    
    color: white;
    background: #E11900;
border-radius: 12px;
text-align: start;
display: flex;
height: fit-content;
padding: 20px;
position: relative;
 top: -92px;
align-items: center;
width: 70%;
opacity: 0;
transition: 0.5s ease-in;
}
.errMsg span{
    display: block;
}
.errBannerAppear{
position: relative;

    transform: translateY(89px);
    opacity: 1;
}
.errBanner svg{
    cursor: pointer;
background-color: white;
color: #E11900;
border-radius: 100%;
padding: 0.3em;
margin-right: 17px;
transition: 0.7s;

}
.errBanner svg:hover{
    background-color: transparent;
    color: white;
}


.errBanner p{
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.logIn-txt span{
    font-weight: 700;
    color: #000000;
}
.otpDiv input{
    font-size: 24px;
    border: 1px solid #ECECEC;
    border-radius: 10px 0px;
    width: 56px !important;
    height: 56px;
    padding: 0;
    margin-right: 1em;
}
.otpDiv{
    margin: 1em 0;
}
.resend{
  
font-weight: 700;
font-size: 16px;
letter-spacing: -1px;
background-color: transparent;
border: none;
color: #009925;

cursor: pointer;
}

@media screen and (max-width:700px) {
    .otpDiv input{
margin-right: 0.7em;
width: 9vw !important;
height: 8vw !important;
min-height: 40px;
    }

}

@media screen and (max-width:550px) {
    .signInForm{
padding: 25px;

    }

}

@media screen and (max-width:450px) {
    .logIn-title{
font-size: 20px;
line-height: 22px;
    }
    .logIn-txt{
        font-size: 13px;

    }
    .resend{
        font-size: 14px;
  
    }
    .signIn-action button{
        font-size: 14px;
        padding: 15px;
    }
    .otpDiv input{
        font-size: 14px;
 padding: 0 !important;
    }
    .signIn-action{
        margin-top: 2em !important;
    }
    .errBanner svg{
        margin-right: 0.7em;
        font-size: 14px;
    }
    .errBanner{
padding: 15px;
width: 62%;
    }
    .logo p{
font-size: 28px;
line-height: 35px;
    }
    .logo{
        margin-bottom: 10px;
    }
    .signIn input{
        padding:1.5em 1em;
        font-size: 14px;
    }
    .fileInp{
        padding:1.5em 1em;
        font-size: 14px;
    }
    
    .fileInp svg{
   transform: scale(0.9);
    }
    input::placeholder{
        font-size: 14px;
    }
    .signIn input[type=password]{
        padding: 0.965em !important;    }
}